<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Query Tests">
            <directory>tests/Query</directory>
        </testsuite>
        <testsuite name="Column Tests">
            <directory>tests/Column</directory>
        </testsuite>
        <testsuite name="Statements Tests">
            <directory>tests/Stmt</directory>
        </testsuite>
    </testsuites>
</phpunit>